footer {
  	background: url('/img/t2.png') repeat  transparent;
  	padding: 3rem 0 2rem 0;

   p	{
  	color: #BAD1D3;
  	text-align: center;
  	font-size: 12px; font-size: 1.2rem;
  	text-transform: uppercase;
  	margin: 7px 0;
  	font-family: Helvetica, Arial, serif;
  }
}
