.a.brand {
  display: block;
  max-width: 206px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  z-index: 5;
  position: relative;
  width: 60%; }

.top-banner {
  padding: 20px 0;
  position: relative;
  min-height: 100%; }

.top-banner {
  background: url(/img/bg-mobile.jpg) no-repeat center center fixed;
  background-size: cover; }

.caption {
  display: none; }
